backend/__pycache__
backend/api/__pycache__
backend/api/__pycache__/__init__.cpython-313.pyc
backend/services/__pycache__
backend/services/static/__pycache__
backend/services/static/gtfs_data
backend/services/gtfs_realtime_pb2.py
backend/services/realtime/realtime_data/vehicle_positions_t.pb
backend/services/realtime/realtime_data/vehicle_positions_a.pb
**/__pycache__/
**/*.pyc
.venv/
env/
venv/
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
*.so
*.dll
*.dylib
htmlcov/
.coverage
.coverage.*
.ipynb_checkpoints/
.env
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
*.so
*.dll
*.dylib
htmlcov/
.coverage
.coverage.*
.ipynb_checkpoints/
.env
backend/api/__pycache__/routes.cpython-313.pyc
backend/database/data/vehicles.json
